<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="QuanLyDiem" connectionString="Data Source=DESKTOP-TMDRPBV;Initial Catalog=QuanLy_Diem;Integrated Security=True"/>
  <add name="sqlConString" connectionString="data source=DESKTOP-TMDRPBV;Initial Catalog=ITQuiz;User ID=spithaui;Password=1234abcd!@#$" />
  </connectionStrings>
</configuration>